@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  background-color: #2d2e38;
  font-family: Bebas Neue;
  font-size: 10px;
}
::placeholder {
  font-family: Bebas Neue;
  font-size: 20px;
}
h1 {
  font-weight: normal;
  font-family: Bebas Neue;
  font-style: normal;
  font-size: 90px;
  border-radius: 10px;
  color: white;
  width: 100%;
  text-align: center;
}
li {
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input {
  margin: 7px 18px;
  font-size: 20px;
  width: 50%;
  padding: 10px 0;
  text-indent: 20px;
  border: 2px solid;
  border-radius: 5px;
  color: white;
  text-indent: 20px;
}

input[type="text"]:focus {
  background-color: black;
}

.b {
  cursor: pointer;
}

button {
  background-color: white;
  border: 2px solid red;
  border-radius: 4px;
  font-weight: normal;
  font-family: Bebas Neue;
  font-size: 25px;
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  color: red;
  width: 20%;
  padding: 5px 0px;
}
button:hover {
  background-color: black;
  color: white;
  border: 2px solid red;
  cursor: pointer;
}

form {
  display: grid;
  place-items: center;
  margin: 5%;
}
